@import "global.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 70px 0 45px 0;
  font-family: system-ui;
  background: lemonchiffon;
}

.header {
  display: flex;
  position: fixed;
  background: skyblue;
  color: lemonchiffon;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  top: 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-flow: column wrap;
}

/* Question Cards */

.card {
  margin: 5px 15px;
  border: 1px solid #252629;
  padding: 5%;
  scroll-margin-top: 100px;
  border-radius: 1rem;
  background: white;
  text-align: center;
}

.card__question {
  padding: 20px 10px;
}

.card__button {
  padding: 10px;
  border-radius: 5px;
}

.card__bookmark {
  border: 0 solid transparent;
  padding: 6px 12px;
  /* position: fixed; */
  right: 0;
  top: 0;
  height: 50px;
}

.answer {
  visibility: hidden;
}

/* Hashtags */

.card__hashtags-list {
  display: flex;
  justify-content: flex-start;
}

.card__hashtag {
  display: flex;
  background-color: lightcoral;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
  font-size: 0.8em;
}

/* Footer: Navigation Bar */

.navbar {
  display: flex;
  position: fixed;
}

.navbar__menu {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: skyblue;
}

.navbar__link {
  display: flex;
  padding: 5px 40px;
}

.navbar__link:hover {
  background-color: lightcoral;
}

.navbar__image {
  height: 40px;
}
