@import "global.css";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  margin: 80px 0 65px 0;
  font-family: system-ui;
  background: lemonchiffon;
}

/* HEADER */

.header {
  display: flex;
  position: fixed;
  background: skyblue;
  color: lemonchiffon;
  height: 60px;
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
  top: 0;
  width: 100vw;
  justify-content: center;
  align-items: center;
  z-index: 1;
}

main {
  display: flex;
  flex-direction: column;
}

/* QUESTION CARDS */

.card {
  margin: 10px 25px;
  border: 1px solid #252629;
  padding: 5%;
  scroll-margin-top: 100px;
  border-radius: 1rem;
  background: white;
  text-align: center;
  position: relative;
}

.card__question {
  padding: 20px 0 0 0;
}

.card__button {
  padding: 10px;
  border-radius: 5px;
  color: #fafad2;
  background-color: #db7093;
  border-color: transparent;
  padding: 10px 25px;
  margin: 35px 0;
  border-radius: 25px;
}

.card__bookmark {
  border: 0 solid transparent;
  padding: 6px 12px;
  position: absolute;
  right: 0;
  top: 0;
  height: 50px;
}

.card__bookmark-placement {
  border: 0 solid transparent;
  position: absolute;
  right: 25px;
  top: -15px;
}

.answer {
  display: none;
}

/* Hashtags */

.card__hashtags-list {
  display: flex;
  justify-content: flex-start;
}

.card__hashtag {
  display: flex;
  background-color: lightcoral;
  padding: 5px 10px;
  margin: 2px;
  border-radius: 5px;
  font-size: 0.8em;
  color: #fafad2;
}

/* FOOTER: Navigation Bar */

.navbar {
  display: flex;
  position: fixed;
}

.navbar__menu {
  display: flex;
  /* justify-content: space-evenly; */
  justify-content: center;
  position: fixed;
  bottom: 0;
  width: 100vw;
  background-color: skyblue;
}

.navbar__link {
  display: flex;
  padding: 7px 40px;
}

.navbar__link:hover {
  background-color: rgb(135, 190, 235);
}

.navbar__image {
  height: 40px;
}

/* PROFILE PAGE */

.main__profile {
  padding: 0 20px;
  margin: 0 20px;
}

.profile__top {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}

.profile_pic {
  height: 150px;
  border-radius: 50%;
  border: 2px solid lightcoral;
}

.name {
  font-size: 36pt;
  margin: 0 0 0 30px;
}

.about-me {
  margin: 20px 0;
}

.about-title {
  margin-bottom: 10px;
}

/* COUNTER BUTTONS */

.counter__buttons {
  display: flex;
  justify-content: space-evenly;
}

.counter {
  display: flex;
  justify-content: space-between;
  background-color: lightcoral;
  padding: 10px 25px;
  margin: 2px;
  border-radius: 5px;
  font-size: 1em;
  color: #fafad2;
  /* border: 1px solid black; */
  box-shadow: rgba(0, 0, 0, 0.24) 0 3px 8px;
}

.icon {
  height: 20px;
  margin: 0 5px;
}

.settings {
  margin-top: 20px;
}

.dark-option {
  margin-top: 10px;
}
